@font-face {
    font-family: VTB Group;
    font-weight: 400;
    font-style: normal;
    src: url("fonts/VTB45.ttf");
}
@font-face {
    font-family: VTB Group;
    font-weight: 500;
    font-style: normal;
    src: url("fonts/VTB55.ttf");
}
@font-face {
    font-family: VTB Group;
    font-weight: 600;
    font-style: normal;
    src: url("fonts/VTB65.ttf");
}
@font-face {
    font-family: VTB Group;
    font-weight: 700;
    font-style: normal;
    src: url("fonts/VTB75.ttf");
}

body {
    font-family: VTB Group;
    font-weight: 500;
    font-size: 16px;
}

h2 {
    font-family: VTB Group;
    font-weight: 700;
    font-size: 30px;
}

header {
    display: flex;
    align-items: center;
}

    /* MAIN CONTENT */

.content {
    display: flex;
    overflow: hidden;
    height: 600px;
}

    /* MAP */

#map {
    width: 1000px;
    height: 600px;
}

    /* SCROLLER */

.scroller {
    overflow-y: auto;
    overflow-x: hidden;
}

    /* FILTERS */
 
.mapFilters {
    padding-left: 10px;
}

.filterHeader {
    font-weight: 600;
    color: #002882;
}

    /* FILTER CATEGORIES */

.filterCategories {
    margin-top: 1.5em; 
    font-size: 20px;
}

    /* OPTION */

.option {
    display: block;
    margin-bottom: 0.5em;
}

    /* CHECK */

.check {
    padding-left: 1.3em;
    font-weight: 400;
    display: flex;
}

.check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin-left: -1em;
    opacity: 0;
}

.check__box {
    position: relative;
    margin-right: 0.5em;
    margin-left: -1.3em;
    margin-top: 0.2em;
    width: 0.8em;
    height: 0.8em;
    overflow: hidden;
    border-radius: 0.05em;
    background-color: #f3f7fa;
    /*
    background-repeat: no-repeat;
    background-position: 50% 50%;
    */
    box-shadow: 0 0 0 0.1em #0af;
}

    /* CHECKED */

.check__input:checked + .check__box {
    background-color: #0a2896;
    background-image: url(images/check.svg);
}

    /* FOCUSED */

.check__input:focus + .check__box {
    box-shadow: 
        0 0 0 0.1em #0af,
        0 0 0 0.3em #cef;
}

    /* DISABLED */

.check__input:disabled + .check__box {
    background-color: #dce0eb;
    box-shadow: 0 0 0 0.1em #acb6c3;
}

    /* FILTER BUTTON */

.filterBtn {
    margin-top: 10px;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

    /* RESPONSIVE DESIGN */

@media(max-width: 925px) {
    .mapFilters {
        display: none;
    }
    .filterBtn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 50px;
        margin-left: -27px;
        width: 100%;
        z-index: 1;
    }
}

@media(max-width: 328px) {
    h2 {
        font-size: 20px;
    }
    .content {
        display: none;
    }
}